<div class="wrap">
  <nav class="nav-secondary" aria-label="Secondary" itemscope="" itemtype="https://schema.org/SiteNavigationElement">
    <div class="wrap">
      <ul id="menu-main-menu-2" style="display: flex; justify-content: center; flex-wrap: wrap" class="menu genesis-nav-menu menu-secondary js-superfish sf-js-enabled sf-arrows" style="touch-action: pan-y">
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-15539 current_page_item menu-item-15540">
          <a href="./" aria-current="page" itemprop="url"><span itemprop="name">Home</span></a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16290">
          <a href="./fun.html" itemprop="url"><span itemprop="name">Fun</span></a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15599">
          <a href="./certification-guides.html" itemprop="url"><span itemprop="name">Certification Guides</span></a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-744">
          <a href="./wgu-referral-program.html" itemprop="url"><span itemprop="name">WGU Referral Program</span></a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15581">
          <a href="./psu-arl-referral-program.html" itemprop="url"><span itemprop="name">PSU-ARL Referral Program</span></a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15587">
          <a href="./free-for-charity.html" itemprop="url"><span itemprop="name">Free For Charity</span></a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23852">
          <a href="./clarke-moyer-cissp-certification-passing-guide.html" itemprop="url"><span itemprop="name">Clarke Moyer CISSP Certification Passing Guide</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <p style="text-align: center; font-size: 0.8rem">Copyright ©&nbsp;2010–2025</p>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script> -->
<script src="./js/cad2bcff-6be8-4603-9534-a947d09392e1.js" id="jquery-core-js"></script>
<!-- <script src="./js/158d7f84-f58a-4f9c-baf5-4f39055ee203.js" id="jquery-migrate-js"></script> -->

<!-- 
#######################################################################################################
#######################################################################################################
# Probably Not required 
#######################################################################################################
#######################################################################################################
-->

<!-- <script defer type="text/javascript" async="" src="./js/matomo.js"></script> -->

<!-- <script defer type="text/javascript">
  window._wpemojiSettings = { baseUrl: "https:\/\/s.w.org\/images\/core\/emoji\/16.0.1\/72x72\/", ext: ".png", svgUrl: "https:\/\/s.w.org\/images\/core\/emoji\/16.0.1\/svg\/", svgExt: ".svg", source: { concatemoji: "https:\/\/clarkemoyer.com\/wp-includes\/js\/wp-emoji-release.min.js" } };
  /*! This file is auto-generated */
  !(function (s, n) {
    var o, i, e;
    function c(e) {
      try {
        var t = { supportTests: e, timestamp: new Date().valueOf() };
        sessionStorage.setItem(o, JSON.stringify(t));
      } catch (e) {}
    }
    function p(e, t, n) {
      e.clearRect(0, 0, e.canvas.width, e.canvas.height), e.fillText(t, 0, 0);
      var t = new Uint32Array(e.getImageData(0, 0, e.canvas.width, e.canvas.height).data),
        a = (e.clearRect(0, 0, e.canvas.width, e.canvas.height), e.fillText(n, 0, 0), new Uint32Array(e.getImageData(0, 0, e.canvas.width, e.canvas.height).data));
      return t.every(function (e, t) {
        return e === a[t];
      });
    }
    function u(e, t) {
      e.clearRect(0, 0, e.canvas.width, e.canvas.height), e.fillText(t, 0, 0);
      for (var n = e.getImageData(16, 16, 1, 1), a = 0; a < n.data.length; a++) if (0 !== n.data[a]) return !1;
      return !0;
    }
    function f(e, t, n, a) {
      switch (t) {
        case "flag":
          return n(e, "\ud83c\udff3\ufe0f\u200d\u26a7\ufe0f", "\ud83c\udff3\ufe0f\u200b\u26a7\ufe0f") ? !1 : !n(e, "\ud83c\udde8\ud83c\uddf6", "\ud83c\udde8\u200b\ud83c\uddf6") && !n(e, "\ud83c\udff4\udb40\udc67\udb40\udc62\udb40\udc65\udb40\udc6e\udb40\udc67\udb40\udc7f", "\ud83c\udff4\u200b\udb40\udc67\u200b\udb40\udc62\u200b\udb40\udc65\u200b\udb40\udc6e\u200b\udb40\udc67\u200b\udb40\udc7f");
        case "emoji":
          return !a(e, "\ud83e\udedf");
      }
      return !1;
    }
    function g(e, t, n, a) {
      var r = "undefined" != typeof WorkerGlobalScope && self instanceof WorkerGlobalScope ? new OffscreenCanvas(300, 150) : s.createElement("canvas"),
        o = r.getContext("2d", { willReadFrequently: !0 }),
        i = ((o.textBaseline = "top"), (o.font = "600 32px Arial"), {});
      return (
        e.forEach(function (e) {
          i[e] = t(o, e, n, a);
        }),
        i
      );
    }
    function t(e) {
      var t = s.createElement("script");
      (t.src = e), (t.defer = !0), s.head.appendChild(t);
    }
    "undefined" != typeof Promise &&
      ((o = "wpEmojiSettingsSupports"),
      (i = ["flag", "emoji"]),
      (n.supports = { everything: !0, everythingExceptFlag: !0 }),
      (e = new Promise(function (e) {
        s.addEventListener("DOMContentLoaded", e, { once: !0 });
      })),
      new Promise(function (t) {
        var n = (function () {
          try {
            var e = JSON.parse(sessionStorage.getItem(o));
            if ("object" == typeof e && "number" == typeof e.timestamp && new Date().valueOf() < e.timestamp + 604800 && "object" == typeof e.supportTests) return e.supportTests;
          } catch (e) {}
          return null;
        })();
        if (!n) {
          if ("undefined" != typeof Worker && "undefined" != typeof OffscreenCanvas && "undefined" != typeof URL && URL.createObjectURL && "undefined" != typeof Blob)
            try {
              var e = "postMessage(" + g.toString() + "(" + [JSON.stringify(i), f.toString(), p.toString(), u.toString()].join(",") + "));",
                a = new Blob([e], { type: "text/javascript" }),
                r = new Worker(URL.createObjectURL(a), { name: "wpTestEmojiSupports" });
              return void (r.onmessage = function (e) {
                c((n = e.data)), r.terminate(), t(n);
              });
            } catch (e) {}
          c((n = g(i, f, p, u)));
        }
        t(n);
      })
        .then(function (e) {
          for (var t in e) (n.supports[t] = e[t]), (n.supports.everything = n.supports.everything && n.supports[t]), "flag" !== t && (n.supports.everythingExceptFlag = n.supports.everythingExceptFlag && n.supports[t]);
          (n.supports.everythingExceptFlag = n.supports.everythingExceptFlag && !n.supports.flag),
            (n.DOMReady = !1),
            (n.readyCallback = function () {
              n.DOMReady = !0;
            });
        })
        .then(function () {
          return e;
        })
        .then(function () {
          var e;
          n.supports.everything || (n.readyCallback(), (e = n.source || {}).concatemoji ? t(e.concatemoji) : e.wpemoji && e.twemoji && (t(e.twemoji), t(e.wpemoji)));
        }));
  })((window, document), window._wpemojiSettings);
</script> -->

<!-- 
<script defer type="text/javascript">
  function atomicBlocksShare(url, title, w, h) {
    var left = window.innerWidth / 2 - w / 2;
    var top = window.innerHeight / 2 - h / 2;
    return window.open(url, title, "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=600, height=600, top=" + top + ", left=" + left);
  }
</script>
<script defer type="text/javascript">
  function genesisBlocksShare(url, title, w, h) {
    var left = window.innerWidth / 2 - w / 2;
    var top = window.innerHeight / 2 - h / 2;
    return window.open(url, title, "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=600, height=600, top=" + top + ", left=" + left);
  }
</script> -->
<!-- 
#######################################################################################################
#######################################################################################################
# Probably Not required 
#######################################################################################################
#######################################################################################################
-->

<script defer>
  document.documentElement.className = document.documentElement.className.replace("no-js", "js");
</script>
<script defer type="application/ld+json">
  {
    "@context": "https:\/\/schema.org",
    "@graph": [
      { "@type": "Organization", "@id": "https:\/\/clarkemoyer.com\/#schema-personal-brand", "url": "https:\/\/clarkemoyer.com", "name": "Clarke Moyer" },
      { "@type": "WebSite", "@id": "https:\/\/clarkemoyer.com\/#schema-website", "url": "https:\/\/clarkemoyer.com", "name": "Clarke Moyer", "encoding": "UTF-8", "potentialAction": { "@type": "SearchAction", "target": "https:\/\/clarkemoyer.com\/search\/{search_term_string}\/", "query-input": "required name=search_term_string" } },
      { "@type": "BreadcrumbList", "@id": "https:\/\/clarkemoyer.com\/#breadcrumb", "itemListElement": [{ "@type": "ListItem", "position": 1, "name": "Home" }] },
      { "@type": "Person", "@id": "https:\/\/clarkemoyer.com\/#schema-publishing-person", "url": "https:\/\/clarkemoyer.com", "name": "Clarke Moyer", "sameAs": ["https:\/\/twitter.com\/clarkemoyer", "https:\/\/www.linkedin.com\/in\/clarkemoyer", "https:\/\/plus.google.com\/u\/1\/+ClarkeMoyer", "https:\/\/www.youtube.com\/user\/ClarkeMoyer", "https:\/\/twitter.com\/clarkemoyer"] },
      { "@type": "WebPage", "@id": "https:\/\/clarkemoyer.com\/#schema-webpage", "isPartOf": { "@id": "https:\/\/clarkemoyer.com\/#schema-website" }, "publisher": { "@id": "https:\/\/clarkemoyer.com\/#schema-personal-brand" }, "url": "https:\/\/clarkemoyer.com\/" },
      { "@type": "Article", "mainEntityOfPage": { "@id": "https:\/\/clarkemoyer.com\/#schema-webpage" }, "author": { "@id": "https:\/\/clarkemoyer.com\/#schema-publishing-person" }, "publisher": { "@id": "https:\/\/clarkemoyer.com\/#schema-personal-brand" }, "dateModified": "2020-08-09T03:05:23", "datePublished": "2020-08-08T21:12:45", "headline": "Clarke Moyer Projects | Clarke Moyer", "description": "Read More Pages", "name": "Clarke Moyer Projects" }
    ]
  }
</script>
<!-- <script defer src="./js/wp-emoji-release.min.js"></script> -->

<script defer type="speculationrules">
  { "prefetch": [{ "source": "document", "where": { "and": [{ "href_matches": "\/*" }, { "not": { "href_matches": ["\/wp-*.php", "\/wp-admin\/*", "\/wp-content\/uploads\/*", "\/wp-content\/*", "\/wp-content\/plugins\/*", "\/wp-content\/themes\/essence-pro\/*", "\/wp-content\/themes\/genesis\/*", "\/*\\?(.+)"] } }, { "not": { "selector_matches": "a[rel~=\"nofollow\"]" } }, { "not": { "selector_matches": ".no-prefetch, .no-prefetch a" } }] }, "eagerness": "conservative" }] }
</script>

<!-- <script defer type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  (function () {
    var u = "https://analytics1.wpmudev.com/";
    _paq.push(["setTrackerUrl", u + "track/"]);
    _paq.push(["setSiteId", "4456"]);
    var d = document,
      g = d.createElement("script"),
      s = d.getElementsByTagName("script")[0];
    g.type = "text/javascript";

    g.src = "./js/matomo.js";
    s.parentNode.insertBefore(g, s);
  })();
</script> -->

<style id="block-style-variation-styles-inline-css">
  :root :where(.wp-block-button.is-style-outline--2 .wp-block-button__link) {
    background: transparent none;
    border-color: currentColor;
    border-width: 2px;
    border-style: solid;
    color: currentColor;
    padding-top: 0.667em;
    padding-right: 1.33em;
    padding-bottom: 0.667em;
    padding-left: 1.33em;
  }
</style>
<!-- <script defer src="./js/af7453b8-294c-4a36-807a-6c378cd03a48.js" id="atomic-blocks-dismiss-js-js"></script>
<script defer src="./js/257bd946-a4b4-4cec-8e6e-a37508315c35.js" id="genesis-blocks-dismiss-js-js"></script>
<script defer src="./js/e5ccf665-f560-46be-b7a7-a85e145a3c4a.js" id="hoverIntent-js"></script>
<script defer src="./js/81e0f3ec-ac4f-440c-a5e5-65d36609671d.js" id="superfish-js"></script>
<script defer src="./js/744bd215-ce86-4e72-8832-bd4b41ebcb8a.js" id="superfish-args-js"></script>
<script defer src="./js/5e6c869a-ba3a-4dd1-a1a3-07df43cb92f3.js" id="skip-links-js"></script>
<script defer src="./js/cce84b2c-519a-43c9-9c9a-71dd7b81ba68.js" id="global-js-js"></script>
<script defer src="./js/6ad34366-cfe1-4cb6-8ed9-3a583a27e0c1.js" id="essence-pro-smooth-scroll-js"></script> -->

<!-- 
#######################################################################################################
#######################################################################################################
# Probably Not required as cookie notice removed
#######################################################################################################
#######################################################################################################
-->
<!-- <script defer id="branda-cookie-notice-front-js-extra">
  var ub_cookie_notice = { id: "#branda-cookie-notice", cookie: { domain: "", name: "Branda_Cookie_Notice_1", path: "\/", secure: "on", timezone: -14400, value: 2592000 }, reloading: "off", animation: null, ajaxurl: "https:\/\/clarkemoyer.com\/wp-admin\/admin-ajax.php", logged: "no", user_id: "0", nonce: "00a0d05f85" };
</script> -->

<!-- <script defer src="./js/87409f1a-a80d-4604-8ba7-2fb0a890791b.js" id="branda-cookie-notice-front-js"></script> -->

<!-- 
#######################################################################################################
#######################################################################################################
# Probably Not required as cookie notice removed
#######################################################################################################
#######################################################################################################
-->

<script defer id="essence-pro-responsive-menu-js-extra">
  var genesis_responsive_menu = { mainMenu: "Menu", menuIconClass: "ionicons-before ion-ios-menu", subMenu: "Submenu", subMenuIconClass: "ionicons-before ion-ios-arrow-down", menuClasses: { combine: [".nav-primary", ".nav-off-screen"], others: [] } };
</script>
<script defer src="./js/b2d9b980-09b0-4536-a17f-64c2d1a25ac1.js" id="essence-pro-responsive-menu-js"></script>
<script defer id="smush-lazy-load-js-before">
  var smushLazyLoadOptions = { autoResizingEnabled: true, autoResizeOptions: { precision: 5, skipAutoWidth: true } };
</script>
<script defer src="./js/ae6e123c-a334-4202-a051-2cad20282cd0.js" id="smush-lazy-load-js"></script>
<!-- <div id="branda-cookie-notice-wrap" style="">
  <div id="branda-cookie-notice" role="banner" class="ub-position-bottom ub-style-none">
    <div class="cookie-notice-container">
      <div class="branda-cn-container">
        <span id="ub-cn-notice-text" class="branda-cn-column">We use cookies to ensure that we give you the best experience on our website. If you continue to use this site we will assume that you are happy with it.</span><span class="branda-cn-column"><a href="" class="button ub-cn-set-cookie">Accept</a></span>
      </div>
    </div>
  </div>
</div> -->
