<header class="site-header" itemscope="" itemtype="https://schema.org/WPHeader">
  <div class="wrap">
    <div class="off-screen-menu off-screen-content" style="display: none">
      <div class="off-screen-container">
        <div class="off-screen-wrapper">
          <div class="wrap">
            <button class="toggle-off-screen-menu-area close"><span class="screen-reader-text">Menu</span>X</button>
            <nav class="nav-off-screen genesis-responsive-menu" itemscope="" itemtype="https://schema.org/SiteNavigationElement" style="">
              <ul id="menu-main-menu" class="menu genesis-nav-menu js-superfish sf-js-enabled sf-arrows" style="touch-action: pan-y">
                <li id="menu-item-15540" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-15539 current_page_item menu-item-15540">
                  <a href="./" aria-current="page" itemprop="url"><span itemprop="name">Home</span></a>
                </li>
                <li id="menu-item-16290" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16290">
                  <a href="./fun.html" itemprop="url"><span itemprop="name">Fun</span></a>
                </li>
                <li id="menu-item-15599" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15599">
                  <a href="./certification-guides.html" itemprop="url"><span itemprop="name">Certification Guides</span></a>
                </li>
                <li id="menu-item-744" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-744">
                  <a href="./wgu-referral-program.html" itemprop="url"><span itemprop="name">WGU Referral Program</span></a>
                </li>
                <li id="menu-item-15581" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15581">
                  <a href="./psu-arl-referral-program.html" itemprop="url"><span itemprop="name">PSU-ARL Referral Program</span></a>
                </li>
                <li id="menu-item-15587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15587">
                  <a href="./free-for-charity.html" itemprop="url"><span itemprop="name">Free For Charity</span></a>
                </li>
                <li id="menu-item-23852" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23852">
                  <a href="./clarke-moyer-cissp-certification-passing-guide.html" itemprop="url"><span itemprop="name">Clarke Moyer CISSP Certification Passing Guide</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="header-right">
      <button class="off-screen-item toggle-off-screen-menu-area"><i class="icon ion-md-menu"></i> Menu</button>
    </div>
    <div class="header-left">
      <form class="search-form1" method="get" action="./" role="search" itemprop="potentialAction" itemscope="" itemtype="https://schema.org/SearchAction">
        <!-- <label style="display: none" class="search-form-label screen-reader-text" for="searchform-1">Search</label> -->
        <input style="min-width: 300px" class="search-form-input" type="search" name="s" id="searchform-1" placeholder=" " itemprop="query-input" />
        <input style="display: none" class="search-form-submit" type="submit" value="Search" />
        <meta content="./?s={s}" itemprop="target" />
      </form>
    </div>
    <div class="title-area">
      <h1 class="site-title" itemprop="headline"><a href="./">Clarke Moyer</a></h1>
      <p class="site-description" itemprop="description">Homepage of all Clarke Moyer Activities</p>
    </div>
    <!-- <button class="menu-toggle ionicons-before ion-ios-menu" aria-expanded="false" aria-pressed="false" id="genesis-mobile-nav-primary">Menu</button> -->
    <nav class="nav-primary genesis-responsive-menu" aria-label="Main" itemscope="" itemtype="https://schema.org/SiteNavigationElement" id="genesis-nav-primary" style="">
      <div class="wrap">
        <ul id="menu-main-menu-1" class="menu genesis-nav-menu menu-primary js-superfish sf-js-enabled sf-arrows" style="touch-action: pan-y">
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-15539 current_page_item menu-item-has-children menu-item-15540">
            <a href="./" aria-current="page" itemprop="url" class="sf-with-ul"><span itemprop="name">Home</span></a> <button class="sub-menu-toggle ionicons-before ion-ios-arrow-down" aria-expanded="false" aria-pressed="false"><span class="screen-reader-text">Submenu</span></button>
            <ul class="sub-menu" style="display: none">
              <li id="menu-item-735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-735">
                <a href="./who-i-am.html" itemprop="url"><span itemprop="name">Who I Am</span></a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-16290">
            <a href="./fun.html" itemprop="url" class="sf-with-ul"><span itemprop="name">Fun</span></a> <button class="sub-menu-toggle ionicons-before ion-ios-arrow-down" aria-expanded="false" aria-pressed="false"><span class="screen-reader-text">Submenu</span></button>
            <ul class="sub-menu" style="display: none">
              <li id="menu-item-16285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-16285">
                <a href="./cooking.html" itemprop="url" class="sf-with-ul"><span itemprop="name">Cooking</span></a> <button class="sub-menu-toggle ionicons-before ion-ios-arrow-down" aria-expanded="false" aria-pressed="false"><span class="screen-reader-text">Submenu</span></button>
                <ul class="sub-menu" style="">
                  <li id="menu-item-16305" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-16305">
                    <a href="./clarke-moyer-world-famous-apple-crisp-recipe.html" itemprop="url"><span itemprop="name">Clarke Moyer’s World Famous Apple Crisp Recipe</span></a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15599">
            <a href="./certification-guides.html" itemprop="url"><span itemprop="name">Certification Guides</span></a>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-744">
            <a href="./wgu-referral-program.html" itemprop="url" class="sf-with-ul"><span itemprop="name">WGU Referral Program</span></a> <button class="sub-menu-toggle ionicons-before ion-ios-arrow-down" aria-expanded="false" aria-pressed="false"><span class="screen-reader-text">Submenu</span></button>
            <ul class="sub-menu" style="display: none">
              <li id="menu-item-860" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-860">
                <a href="./western-governors-university-bs-it.html" itemprop="url"><span itemprop="name">Western Governors University BS-IT</span></a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-15581">
            <a href="./psu-arl-referral-program.html" itemprop="url" class="sf-with-ul"><span itemprop="name">PSU-ARL Referral Program</span></a> <button class="sub-menu-toggle ionicons-before ion-ios-arrow-down" aria-expanded="false" aria-pressed="false"><span class="screen-reader-text">Submenu</span></button>
            <ul class="sub-menu" style="display: none">
              <li id="menu-item-15578" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15578">
                <a href="./it-project-management-resume-of-clarke-moyer.html" itemprop="url"><span itemprop="name">IT Project Management Resume of Clarke Moyer</span></a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-15587">
            <a href="./free-for-charity.html" itemprop="url" class="sf-with-ul"><span itemprop="name">Free For Charity</span></a> <button class="sub-menu-toggle ionicons-before ion-ios-arrow-down" aria-expanded="false" aria-pressed="false"><span class="screen-reader-text">Submenu</span></button>
            <ul class="sub-menu" style="display: none">
              <li id="menu-item-15579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15579">
                <a href="./learn-free-charity.html" itemprop="url"><span itemprop="name">Learn More About Free For Charity</span></a>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23852">
            <a href="./clarke-moyer-cissp-certification-passing-guide.html" itemprop="url"><span itemprop="name">Clarke Moyer CISSP Certification Passing Guide</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
