<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="max-image-preview:large" />
<link rel="canonical" href="./" />

<!-- Preconnect -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="dns-prefetch" href="https://unpkg.com" />
<link rel="dns-prefetch" href="https://www.google-analytics.com" />
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Lora:wght@400;700&display=swap" rel="stylesheet" />

<!-- Preload LCP image -->
<link rel="preload" as="image" href="./src/imgs/Clarke-Moyer-CM-Logo.jpg" />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Clarke Moyer Projects | Clarke Moyer" />
<meta property="og:description" content="Read More Pages" />
<meta property="og:image" content="./src/imgs/Clarke-Moyer-CM-Logo.jpg" />

<meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate" />

<!-- Favicon -->

<link rel="icon" href="./src/imgs/cropped-Clarke-Moyer-CM-Logo-3D-Black-1-scaled-1-32x32.jpg" sizes="32x32" />
<link rel="icon" href="./src/imgs/cropped-Clarke-Moyer-CM-Logo-3D-Black-1-scaled-1-32x32.jpg" sizes="192x192" />
<link rel="apple-touch-icon" href="./src/imgs/cropped-Clarke-Moyer-CM-Logo-3D-Black-1-scaled-1-32x32.jpg" />
<meta name="msapplication-TileImage" content="./src/imgs/cropped-Clarke-Moyer-CM-Logo-3D-Black-1-scaled-1-32x32.jpg" />

<link rel="stylesheet" id="essence-pro-css" href="./src/css/a47b0b9f-1b9c-467f-bb13-ad4f615afcfe.css" onload="this.media='all'" />
<noscript><link rel="stylesheet" href="./src/css/a47b0b9f-1b9c-467f-bb13-ad4f615afcfe.css" /></noscript>

<link rel="stylesheet" id="atomic-blocks-style-css-css" href="./src/css/e0e565a7-c547-43bf-8df5-c325796325b4.css" onload="this.media='all'" />
<noscript><link rel="stylesheet" href="./src/css/e0e565a7-c547-43bf-8df5-c325796325b4.css" /></noscript>

<link rel="stylesheet" id="ionicons-css" href="./src/css/ionicons.min.css" onload="this.media='all'" />
<noscript><link rel="stylesheet" href="./src/css/ionicons.min.css" /></noscript>

<link rel="stylesheet" id="essence-pro-gutenberg-css" href="./src/css/1f9269bd-9edd-4b9b-87d7-4c8d761af54f.css" onload="this.media='all'" />
<noscript><link rel="stylesheet" href="./src/css/1f9269bd-9edd-4b9b-87d7-4c8d761af54f.css" /></noscript>
